body {
    background-color: #cbe7ec;
    font-family: Arial, Helvetica, sans-serif;
}

#load-dialogue {
    z-index: 2
}

#dialog-image {
    display: block;
    max-width: 75%;
    height: auto;

}

.hidden {
    display: none;
}

#dialog-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dialog {
    width: 75%;
    background-color: #cbe7ec;
}



.header-images {
    height: 25vh;
    width: 30vw;
    object-fit: cover;
}

#image-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    row-gap: 10px;
}

#main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-element {
    background-color: #cbe7ec;
    border-bottom: 2px solid #000 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    min-width: 80%;
    margin-bottom: 10px
}

footer {
    color:#ffffff;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px
}

@media screen and (min-width: 500px) {
    .list {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 800px) {
     .header-images {
        width: 75vw;
    } 
}