body {
    background-color: rgb(200 233 233);
}

#load_dialogue {
    z-index: 2
}

#dialog_image {
    display: block;
    max-width: 50%;
    height: auto;

}

.hidden {
    display: none;
}

#dialog-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dialog {
    width: 75%
}

#first-image {
    padding-left: 5%;
}

.header-images {
    max-height: 200px;
    max-width: auto;
    
}

#image-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
}


