body {
    background-color: rgb(200 233 233);
}

#load_dialogue {
    z-index: 2
}

#dialog_image {
    display: block;
    max-width: 50%;
    height: auto;

}

.hidden {
    display: none;
}

#dialog-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dialog {
    width: 75%
}



.header-images {
    max-height: 200px;
    max-width: auto;
}

#image-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
}

#main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comment_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px) {
    #atlantic_list {
        display: grid;
        grid-template-columns: auto auto;
    }
    #metropolitan_list {
        display: grid;
        grid-template-columns: auto auto;
    }
    #central_list {
        display: grid;
        grid-template-columns: auto auto;
    }
    #pacific_list {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 499px) {
    #image-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    .header-images {
        max-width: 75%;
    }
}